/elpa/auctex-11.91.0/ChangeLog.1
*.el
/history
/eshell/history
/recentf
/backups/!home!evilnis!.emacs.d!.git!COMMIT_EDITMSG.~1~
*.o
/elpa/ace-jump-mode-20140616.115/ace-jump-mode.elc
/elpa/ace-window-20171107.1124/ace-window.elc
/backups/!home!evilnis!Documents!JavaScript30!03 - CSS Variables!index.js.~1~
